/* ########################################################## */
/* list of users or books */

.listbox{
  position: absolute;
  top: auto;
  left: 50%;
  width: 80%;
  padding: 5%;
  margin-bottom: 100px;
  transform: translate(-50%, 0);
  background: #dfe6e9;
  /* color: #2d3436; */
  /* text-align: center; */
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  z-index: 0;
}

.listitem{
  position: relative;
  width: 100%;
  height: 20%;
  padding: 2%;
  margin: 2%;
  border-radius: 12px;
  list-style-type: none;
  background-color: #b2bec3;
  display: flex;
}

.info{

}

.userbook{
  margin: auto;
}

.userbook a button{
  border: 0;
  background: none;
  vertical-align: middle;
  text-align: center;
  border: 1px solid #2d3436;
  height: auto;
  width: auto;
  border-radius: 0;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.userbook a{
  text-decoration: none;
}

.userbook a button:hover{
  background: #dfe6e9;
}

.listitem .listimage{
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  right: 3%;
  float: right;
  margin: 0;
  padding: 0;
  height: 90%;
  width: 30%;
}

.listimage img{
  height: 100%;
  width: auto;
  float: right;
  border-radius: 12px;
  transition: transform 0.2s, opacity 1s;
}

.listimage img:hover{
  transform: scale(2.0);
  opacity: 0.5;
}

.listbox h1, h2{
  font-size: 1.7em;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  font-weight: 500;
}

.itemlisth1{
  font-size: 2.0em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 500;
  margin-top: 5%;
}

.itemlista{
  text-decoration: none;
  color: inherit;
}

.itemlista:visited{
  color: inherit;
}

.itemlista button{
  position: relative;
  /* top: 10%; */
  /* right: 5%; */
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #00b894;
  padding: 14px 40px;
  width: 250px;
  outline: none;
  /* color: #2d3436; */
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.itemlista button:hover{
  background: #00b894;
  /* color: #191919; */
}

.listbox h1{
    /* color: #FB8C00; */
}

.listbox h2{
  font-size: 0.9em;
  /* color: #D81B60; */
}

.listbox .listitem h3{
  font-size: 0.8em;
  font-weight: 500;
}

.listbox a{
  text-decoration: none;
  color: inherit;
}

.listbox a:visited{
  color: inherit;
}

.listbox button{
  position: relative;
  /* top: 10%; */
  /* right: 5%; */
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #00b894;
  padding: 14px 40px;
  width: 250px;
  outline: none;
  /* color: #2d3436; */
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.listbox button:hover{
  background: #00b894;
  /* color: #191919; */
}


/* ########################################################## */
/* detail view for author */

.author_names{
  /* color: #0984e3; */
  font-size: 1.2em;
}

/* ########################################################## */
/* about page */

.about{
  position: absolute;
  transform: translate(-50%, 0);
  top: 10%;
  left: 50%;
}

.about h1, h2, h3, h4{
  font-size: 1.7em;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 500;
  /* color: #55efc4; */
}

.about h2{
  font-size: 1.5em;
  /* color: #81ecec; */
}

.about h3{
  font-size: 1.3em;
  /* color: #74b9ff; */
}

.about h4{
  font-size: 1.1em;
  /* color: #a29bfe; */
}
