/* login form */
.loginbox{
  position: absolute;
  top: 10%;
  left: 47%;
  width: 300px;
  padding: 40px;
  transform: translate(-50%, 0);
  background: #191919;
  text-align: center;
  border-radius: 12px;
  margin-bottom: 30px;
}

.loginbox h1{
  color: #dfe6e9;
  text-transform: uppercase;
  font-weight: 500;
}

.loginbox input[type="text"], .loginbox input[type="password"]{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #0984e3;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 1.2em;
}

.loginbox input[type="password"]{
  border-color: #e17055;
}

.loginbox input[type="text"]:focus, .loginbox input[type="password"]:focus{
  width: 280px;
  border-color: #55efc4;
}

.loginbox input[type="submit"]{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #fdcb6e;
  padding: 14px 40px;
  width: 150px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.loginbox input[type="submit"]:hover{
  background: #fdcb6e;
  color: #191919;
}

.loginbox ul li{
  font-style: italic;
  color: #00b894;
}

.loginbox .errorlist li{
  color: #d63031;
  text-align: justify;
}

/* ##################################################################### */
/* registration form */
.signupbox{
  position: absolute;
  top: 12%;
  left: 47%;
  width: 550px;
  padding: 40px;
  transform: translate(-50%, 0);
  background: #191919;
  text-align: center;
  border-radius: 12px;
}

.signupbox h1{
  color: #dfe6e9;
  text-transform: uppercase;
  font-weight: 500;
}

.signupbox input[type="text"], .signupbox input[type="password"], .signupbox input[type="email"]{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #0984e3;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 1.2em;
}

.signupbox input[type="password"]{
  border-color: #e17055;
}

.signupbox input[type="email"]{
  border-color: #a29bfe;
}

.signupbox input[type="text"]:focus, .signupbox input[type="password"]:focus, .signupbox input[type="email"]:focus{
  width: 280px;
  border-color: #55efc4;
}

.signupbox input[type="submit"]{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #fdcb6e;
  padding: 14px 40px;
  width: 150px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.signupbox input[type="submit"]:hover{
  background: #fdcb6e;
  color: #191919;
}

.signupbox ul li{
  font-style: italic;
  color: #00b894;
}

.signupbox .errorlist li{
  color: #d63031;
  text-align: justify;
}

.signupbox .helptext{
  font-style: italic;
  color: #00b894;
}

/* ##################################################################### */
/* user form */
.userupdatebox{
  position: absolute;
  top: 12%;
  left: 47%;
  width: 550px;
  padding: 40px;
  transform: translate(-50%, 0);
  background: #191919;
  text-align: center;
  border-radius: 12px;
}

.userupdatebox h1{
  color: #dfe6e9;
  text-transform: uppercase;
  font-weight: 500;
}

.userupdatebox input[type="text"], .userupdatebox input[type="password"], .userupdatebox input[type="email"]{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #0984e3;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 1.2em;
}

.userupdatebox input[type="password"]{
  border-color: #e17055;
}

.userupdatebox input[type="email"]{
  border-color: #a29bfe;
}

.userupdatebox input[type="text"]:focus, .userupdatebox input[type="password"]:focus, .userupdatebox input[type="email"]:focus{
  width: 500px;
  border-color: #55efc4;
}

.userupdatebox input[type="submit"]{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #fdcb6e;
  padding: 14px 40px;
  width: 150px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.userupdatebox textarea{
  resize: none;
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #0984e3;
  padding: 14px 10px;
  width: 400px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 1.2em;
}

.userupdatebox input[type="file"]{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #0984e3;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
  text-align: center;
}

.userupdatebox input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.userupdatebox a button{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #d63031;
  padding: 14px 40px;
  width: 250px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.userupdatebox .warning{
  color: #d63031;
}

.userupdatebox a{
  text-decoration: none;
}

.userupdatebox a button:hover{
  background: #d63031;
  color: #191919;
}

.userupdatebox input[type="submit"]:hover{
  background: #fdcb6e;
  color: #191919;
}

.userupdatebox input[type="file"]:hover{
  background: #0984e3;
  color: #191919;
}

.userupdatebox ul li{
  font-style: italic;
  color: #00b894;
}

.userupdatebox .errorlist li{
  color: #d63031;
  text-align: justify;
  text-align: justify;
}

.userupdatebox .helptext{
  font-style: italic;
  color: #00b894;
  text-align: justify;
}

.userupdatebox select{
  appearance: none;
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #0984e3;
  padding: 14px 10px;
  width: 300px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  font-size: 1.2em;
}

.userupdatebox select:hover{
  color: #2d3436;
}

/* ########################################################## */
/* detail view for user */
.userdetailbox{
  position: absolute;
  margin: 0;
  margin-bottom: 30px;
  padding: 10px;
  top: 10%;
  left: 47%;
  transform: translate(-50%, 0);
  background: #191919;
  border-radius: 12px;
  width: 900px;
  height: auto;
  min-height: 300px;
  text-align: justify;
  color: #dfe6e9;
}

.userdetailbox img{
  position: relative;
  float: right;
  padding: .5em;
  width: auto;
  height: auto;
  max-width: 500px;
  max-height: 300px;
  border-radius: 12px;
  transition: transform 0.2s;
}

.userdetailbox img:hover{
  transform: scale(2.0);
}

.userdetailbox .username{
  color: #d63031;
  font-size: 3em;
}

.userdetailbox .names{
  color: #0984e3;
  font-size: 1.8em;
}

.userdetailbox .status{
  color: #6c5ce7;
  font-size: 1.3em;
}

.userdetailbox .description{
  color: #dfe6e9;
  font-size: 1.2em;
}

.userdetailbox a button{
  border: 0;
  background: none;
  /* border-radius: 50%; */
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #fdcb6e;
  padding: 14px 40px;
  width: 150px;
  outline: none;
  color: #dfe6e9;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 1.1em;
}

.userdetailbox a{
  color: #00cec9;
  text-decoration: none;
}

.userdetailbox a:visited{
  color: #00cec9;
}

.userdetailbox a button:hover{
  background: #fdcb6e;
  color: #191919;
}

.description_header{
  color: #fdcb6e;
}

/* ########################################################## */
/* error pages */
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middle h1{
  font-size: 10em;
  text-transform: uppercase;
  font-weight: 900;
  color: #b2bec336;
  background-image: url("../images/water.png");
  -webkit-background-clip: text;
  animation: water 30s infinite;
}

.middle h2{
  text-align: left;
  color: #fdcb6e;
}

.middle h3{
  text-align: right;
  color: #fab1a0;
}

@keyframes water {
  from{
    background-position: left 0 top 0;
  }
  to{
    background-position: left 1000px top 0;
  }
}
